#padre {
    width: 75%;
    height: 550px;
    border: 2px solid black;
    position: relative;
    background-color: #1e293b;
    align-items: center;
}

.cuadrado {
    width: 50px;
    height: 50px;
    border: solid 2px black;
    position: absolute;
}

.cuadrado1 { 
    background-color: lightblue; 
}

.cuadrado2 { 
    background-color: lightcoral; 
}

.cuadrado3 { 
    background-color: lightgoldenrodyellow; 
}

.cuadrado4 { 
    background-color: lightgreen; 
}
.cuadrado5 { 
    background-color: lightsalmon; 
}