body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

#target {
    width: 300px;
    aspect-ratio: 1/1;
    border: 3px solid black;
    border-radius: 20px;
}

#contador {
    font-weight: bold;
    color: 1px solid black;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 50px;

}