#container {
    width: 500px;
    height: 400px;
    border: 3px solid black;
    position: relative;
    margin: 20px auto;
    background-color: #f0f0f0;
    overflow: hidden;
}

#marcador { text-align: center; font-family: Arial; }

.bicho {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}