body {
  font-family: sans-serif;
  background: #ffffff;
  color: #eee;
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #0cf;
}

.ruleta {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.cuadrante {
  width: 100%;
  height: 100%;
}

.amarillo { background: yellow; }
.rojo     { background: red; }
.verde    { background: green; }
.azul     { background: blue; }
.flecha {

  position: absolute;
  top: 50%;
  left: 50%;
  border: solid transparent;
  border-width: 0 10px 30px;
  border-bottom-color: black;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: .3s;
}

button {
  background: #0cf;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #000000;
  margin-top: 1rem;
}

#resultado {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #0cf;
}

.iconos {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: .9rem;
  color:#000000;
}