body {
    font-family: Arial;
    text-align: center;
    background: #222;
    color: white;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #4CAF50;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 500px;
    font-size: 18px;
    background: #333;
    padding: 10px;
    border-radius: 5px;
}

#campo {
    width: 500px;
    height: 300px;
    border: 3px solid #4CAF50;
    margin: 20px auto;
    position: relative;
    background: #444;
    border-radius: 5px;
}

#jugador {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    top: 135px;
    left: 235px;
    border-radius: 50%;
    transition: all 0.1s;
}

#meta {
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 50%;
    position: absolute;
}

.piedra {
    width: 40px;
    height: 40px;
    background: blue;
    position: absolute;
    border-radius: 5px;
}

.botones {
    margin-top: 20px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 25px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #45a049;
}