.circulo {
    width: 200px;
    aspect-ratio: 1/1;
    border: solid 1px black;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circuloRojo {
    width: 200px;
    aspect-ratio: 1/1;
    border: dashed 5px red;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadrado {
    width: 200px;
    height: 200px;
    background-color: pink;
    border: dotted 7px blue;
}