body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        radial-gradient(circle at 20% 20%, rgba(255, 0, 255, 0.2), rgba(0, 255, 255, 0.2) 80%),
        radial-gradient(circle at 80% 80%, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2) 80%),
        linear-gradient(45deg, #ff00cc, #333);
    height: 100vh;
}

.contenedor_ppal {
    height: 70%;
    width: 90%;
    margin-top: 3em;
    border:1px black solid;
}

input{
    width: 200px;
}